<!-- <div class="app-container">
  <app-header (menuToggle)="toggleMenu()"></app-header>

  <div class="main-layout">
    <aside class="sidebar left-sidebar" [class.open]="isMobileMenuOpen">
      <app-left-nav></app-left-nav>
    </aside>

    <main class="content-area" (click)="isMobileMenuOpen = false">
      <router-outlet></router-outlet>
    </main>
  </div>
</div> -->

<div class="app-container">

  <app-header (menuToggle)="toggleMenu()"></app-header>

  <div class="main-layout">

    @if (isLoggedIn$ | async) {
    <aside class="sidebar left-sidebar" [class.open]="isMobileMenuOpen">
      <app-left-nav></app-left-nav>
    </aside>
    }

    <main class="content-area" [style.padding]="(isLoggedIn$ | async) ? '30px' : '0'"
      [style.background]="(isLoggedIn$ | async) ? '#fff' : 'transparent'"
      [style.box-shadow]="(isLoggedIn$ | async) ? '0 0 15px rgba(0, 0, 0, 0.05)' : 'none'"
      (click)="isMobileMenuOpen = false">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>