<div class="tools-container">
    <h3>&lt;/&gt; Dev Tools</h3>
    <ul class="tool-list">
        <li>
            <a href="#" target="_blank">
                <span class="tool-icon gitlab"></span> GitLab
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <span class="tool-icon jenkins"></span> Jenkins
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <span class="tool-icon splunk"></span> Splunk
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <span class="tool-icon sonarqube"></span> SonarQube
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <span class="tool-icon fortify"></span> Fortify
            </a>
        </li>
    </ul>
</div>